.date-num {
  font-size: 23px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.no-reservation {
  color: #888;
  font-style: italic;
  margin-top: 8px;
  text-align: center;
}
